.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(70px + 10vmin);
  color: rgb(175, 131, 131);
  
}

.App-link {
  color: #0f5468;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  display: inline-block;
  text-align: center;
  width: 4em;
  font-size: 3em;
  box-shadow: 0 5px 8px 0 rgba(38, 6, 117, 1);
  margin: 1em;
  user-select: none;
  background-color: rgb(221, 151, 198);
  background-image: url("ch1.png");
 }
 .activeCard {
  color: rgb(194, 97, 97);
  background: rgb(107, 139, 243);
  background-image: url("ch1.png");
 } 
 .center {
   margin: auto;
   width: 30%;
   border: 3px solid blue;
   padding: 30%;
 }